table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


.Btn-Edit,
.Btn-Delete
 {
  border: none;
  color:#fff
}  
.Btn-Edit:hover,
.Btn-Delete:hover {
  opacity: 0.8;
}


.Modal_container {
  .form-row {
    display: flex;
    gap: 62px;
  }
}