ul {
    list-style: none;
    padding: 0;
}

.background_image {
    background-color: #eeeeee;
}
.Clinic_search {
display: block;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    vertical-align: middle;
    background-color: #fff;
    background-image: url('../../../assets/images/img/free-arrow-down-icon-3101-thumb.png');   
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.wrapper_search {
    padding: 10px 0;
}
.Wrapper_Doctor_Info_Specialty {
    .content-left {
        width: 50%;
        .content_detail-title {
            height: auto;
            width: 400px;
        }
        .content_image_detail {
            width: 100px;
            height: 100px;
        }
        .wrapper_left.d-flex {
            padding: 15px
        }
    }

    .content_right {
        width: 45%;

        .right_content {
            padding: 15px;
        }
    }
}

.content_type {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,0.28);
    border-radius: 8px;
    border-bottom: none;
    margin-bottom: 10px;
}