.section-specialty {
  height: 330px;
  background: #fff;
  border-bottom: 3px solid #efeef5;
  .section-content {
    height: inherit;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

    .section_wrapper {
      padding-top: 20px;
      padding-bottom: 30px;
      position: relative;

      .Title_slider {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;

        h2 {
          font-size: 24px;
          font-weight: bold;
          padding: 15px 0px 5px 0px;
        }

        .btn_loadmore {
          background: #ebebeb;
          text-transform: uppercase;
          display: inline-block;
          padding: 10px 15px;
          font-size: 11px;
          color: #282e41;
          height: 40px;
          border: none;

          &:hover {
            cursor: pointer;
            color: #fff;
            background: #f7d800;
          }
        }
      }
    }
  }
  .content_wrapper {
    margin: 5px;
    width: 278px !important;
    cursor: pointer;

    &:hover h3 {
      color: #45c3d2;
      cursor: pointer;
    }
  }

  .image_about {
    width: 100%;
    padding-top: 56.25%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #eee;
  }
  h3 {
    display: block;
    width: 100%;
    height: 100%;
    color: #111;
    padding: 5px 0;
    font-size: 13px;
    margin: 0;
  }
}
.slick-prev {
  left: -10px !important;
  z-index: 100 !important;
  width: 44px !important;
  background-color: #665b5b !important;
  height: 48px !important;

  &:hover {
    opacity: 0.5;
  }
}
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #fff !important;
  padding: 10px;
}

.slick-next {
  right: -10px !important;
  background-color: #665b5b !important;
  width: 44px !important;
  height: 48px !important;

  &:hover {
    opacity: 0.5;
  }
}

.slick-dots {
  display: none !important;
}
